.menu-logo{
  height: 40px;
}
#main{
  margin-top: 55px;
}
.top-background{
  width: 100%;
}
.projects{
  padding-top: 25px;
}
.projects-card-block{
  text-align: center;
}
body{
  overflow-x: hidden;
}
.card-projects-logo{
  border-radius: 80px;
  border: 2px solid #aaa;
  padding: 10px;
  box-shadow: 2px 2px 15px #cacaca;
}