<div id="body">

  <nav class="navbar navbar-expand-md navbar-dark navbar-custom bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="./#/home"><img src="../assets/openorglogo.png" style="height: 25px;margin-top: -10px;"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="./home">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main full-width">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 px-5 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="../assets/orange.png" style="width: 32px;"/>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2024 Open Range Org</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex footer-custom">
        <a target="_blank" href="https://www.instagram.com/_nihar_sarkar_" target="_blank"><i
          class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="https://github.com/NIHAR-SARKAR?tab=overview&from=2021-12-01&to=2021-12-31"><i
          class="fa-brands fa-github"></i></a>
      <a target="_blank" href="https://stackoverflow.com/users/4655349/nihar-sarkar"><i
          class="fa-brands fa-stack-overflow"></i></a>
      <a target="_blank" href="https://www.nuget.org/profiles/NIHAR-SARKAR"><i
          class="fa-brands fa-microsoft"></i></a>
      <a target="_blank" href="https://www.npmjs.com/~nihar_sarkar"><i class="fa-brands fa-npm"></i></a>
      </ul>
    </footer>
  </div>



</div>
