<main role="main" id="main">
  <div class="px-4 py-5 my-2 text-center">
    <img src="../../../assets/orange.png" style="height: 64px;" />
    <h1 class="display-5 fw-bold">Open Range Org</h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">Open Range is a space where we share my open-source projects. Here, you'll find code,
        documentation, and resources for various projects I'm passionate about.
        I believe in the power of open-source development and collaboration. Whether you're a seasoned developer or just
        starting out, you're welcome to explore my projects, contribute code, or find inspiration for your own
        creations. This site is constantly evolving, so check back often for new projects and updates!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://lipz.sarkarnihar.in/home" class="btn btn-sm btn-primary btn-lg px-4 gap-3">Explore our AI
          tool</a>
        <a href="/#/contact" class="btn btn-sm btn-outline-secondary btn-lg px-4">Contact</a>
      </div>
    </div>
  </div>
  <div class="row projects">
    <div class="col-md-10 offset-md-1">
      <div class="col-sm-12 text-center mt-5">
        <h1>Explore Projects</h1>
      </div>
      <div class="row py-5">
        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/AdoEntity.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Ado.Entity</h3>
          <p>Ado.Entity is an object-relational mapping framework for .NET applications. Object-relational mapping
            allows the use of database queries and operations with object-oriented programming languages.
            <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat" class="img-fluid" alt="MIT License">
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary " href="./#/ado-entity" role="button">View details</a>
          </div>
        </div>
        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/CsvGrape.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Csv Grape</h3>
          <p>A library that handles csv files and its metadata for js or typescript projects. Don't worry about csv
            files . This library will process and perse csv data for you . Available in Nmp .
            <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat" class="img-fluid" alt="MIT License">
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary" href="./#/csv-grape" role="button">View details</a>
            <a href="https://open-range-org.github.io/demo/CsvGrape/" target="_blank"><i alt="Live demo"
                class="fas fa-layer-group demo-link"></i></a>
          </div>
        </div>
        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/googlyjs.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Googly.js</h3>
          <p>Googly.js is a very lightweight javascript validation library . If you don't know how to handle
            validation in javascript or if you are searching for a library which can help you to handle validation ,
            this library is a good option.
            <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat" class="img-fluid" alt="MIT License">
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary " href="./#/googly-js" role="button">View details</a>
            <a href="https://open-range-org.github.io/demo/GooglyJs/" target="_blank"><i alt="Live demo"
                class="fas fa-layer-group demo-link"></i></a>
          </div>

        </div>
        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/aresicon.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Ares Ai</h3>
          <p> The Ares Ai extension is a powerful tool designed to help developers analyze and understand their code
            more effectively. It provides a simple yet effective way to select a code block within your editor and
            instantly analyze it , providing insights.
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary" href="https://marketplace.visualstudio.com/items?itemName=NIHAR-SARKAR.ares"
              role="button" target="_blank">Explore</a>
          </div>
        </div>

        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/grapy.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Grapy Copy</h3>
          <p> grapy is a developer tool designed to simplify the process of managing code snippets. It allows you to
            effortlessly capture, organize, and access code snippets with just a few clicks. grapy empowers developers
            to efficiently manage their code snippets and boost productivity.
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary" href="https://marketplace.visualstudio.com/items?itemName=NIHAR-SARKAR.grapy"
              role="button" target="_blank">Explore</a>
          </div>
        </div>

        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/objecttocsv.png" width=" 140" height="140">
          <h3><i class="fab fa-osi"></i> ObjectToCsv</h3>
          <p>This library provides an easy way to convert a list of objects into a CSV (Comma-Separated Values) file.
            It's particularly useful when you need to export data from your application to a format that can be easily
            imported into spreadsheet software or other tools.
            <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat" class="img-fluid" alt="MIT License">
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary " href="./#/object-to-csv" role="button">View details</a>
          </div>
        </div>

        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/loggergrape.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Logger Grape</h3>
          <p>Logger Grape is a tool which helps to analyse logs. It automatically updates the Log UI when the actual
            file is being changed . The line highlight feature helps to differentiate between newly added logs and old
            logs .
            <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat" class="img-fluid" alt="MIT License">
          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary project-not-ready" href="#" role="button">View details</a>
            <a href="https://open-range-org.github.io/demo/LoggerGrape/" target="_blank"><i alt="Live demo"
                class="fas fa-layer-group demo-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/dionysus-logo.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Dionysus AI</h3>
          <p>Your AI Conversation Companion! Are you tired of mundane conversations? Ready to explore the future of
            communication? Look no further! Dionysus is your friendly, intelligent chatbot designed to make interactions
            delightful, informative, and downright fun.

          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary project-not-ready" href="https://dionysus.sarkarnihar.in/home" role="button"
              target="_blank">Explore</a>
          </div>
        </div>

        <div class="col-lg-4 projects-card-block">
          <img class="card-projects-logo" src="../../../assets/data-science.png" width="140" height="140">
          <h3><i class="fab fa-osi"></i> Calculate mean median mode</h3>
          <p> Mean, median, and mode are the three measures of central tendency in statistics. We identify the central
            position
            of any data set while describing a set of data. This is known as the measure of central tendency.

          </p>
          <div class="project-navigation">
            <a class="btn btn-secondary" href="https://open-range-org.github.io/demo/CalculateMMM" role="button"
              target="_blank">Explore</a>
          </div>
        </div>


      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette" style="margin-bottom: 50px;">
        <div class="col-md-7 order-md-2 pt-5 pb-5">
          <h2 class="featurette-heading">Let's Forge the Future of <span class="text-muted">Open Source</span> Together!
          </h2>
          <p class="lead">Welcome to Open Range, a digital frontier where my open-source projects roam free! Here,
            you'll discover a vast landscape of code, documentation, and resources for a variety of projects I'm
            passionate about. Whether you're a seasoned developer seeking to collaborate on cutting-edge solutions, or a
            budding programmer embarking on your open-source journey, Open Range is your one-stop shop for inspiration
            and exploration.
            I believe in the power of open-source development, a collaborative playground where innovation thrives on
            shared knowledge and community spirit. Here, you'll find projects that range from c# to typescript – all
            built with
            the goal of empowering others and fostering shared growth.
            Open Range isn't just a static archive; it's a living, breathing ecosystem that constantly evolves. Check
            back often for fresh projects, insightful updates, and opportunities to contribute your own expertise.
            Whether it's fixing a bug, suggesting a new feature, or simply diving into the codebase to learn, you're an
            integral part of the Open Range community.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../../../assets/dev.jpg" data-holder-rendered="true"
            style="width: 500px; height: 500px;">
        </div>
      </div>

    </div>
  </div>



</main>
